.relative {
 padding: 20px;
 background-color: #fff;
} 
.navitem {
  width: 70px; 
  height: 30px; 
  border: gray;
  background-color: #E8562A;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

body{
  text-align: center;
}